<head>
    <link href="@Url.Content("~/Content/LeftMenu.css")" rel="stylesheet" type="text/css" />
    
</head>

@section scripts{
    <script>
        $(document).ready(function () {

            $(".sidebar-menu > li.have-children a").on("click", function (i) {
                i.preventDefault();
                if (!$(this).parent().hasClass("active")) {
                    $(".sidebar-menu li ul").slideUp();
                    $(this).next().slideToggle();
                    $(".sidebar-menu li").removeClass("active");
                    $(this).parent().addClass("active");
                }
                else {
                    $(this).next().slideToggle();
                    $(".sidebar-menu li").removeClass("active");
                }
            });
        });
    </script>
   
}

<div id="wrapper">
    <ul class="sidebar-menu" style="display:inline-block">
        <li><span class="nav-section-title"></span></li>
        <li class="have-children">
            <a href="#"><span class="fa fa-university"></span>Exhibitions</a>
            <ul>
                <li><a href="#">Add Exhibition</a></li>
                <li><a href="#">View Exhibitions</a></li>
            </ul>
        </li>
        <li class="have-children">
            <a href="#"><span class="fa fa-tags"></span>Category</a>
            <ul>
                <li><a href="#">Add Category</a></li>
                <li><a href="#">View Categories</a></li>
            </ul>
        </li>
        <li class="have-children">
            <a href="#"><span class="fa fa-trophy"></span>Award</a>
            <ul>
                <li><a href="#">Add Award</a></li>
                <li><a href="#">View Awards</a></li>
            </ul>
        </li>
        <li class="have-children">
            <a href="#"><span class="fa fa-gavel"></span>Jury</a>
            <ul>
                <li><a href="#">Add Jury</a></li>
                <li><a href="#">View Juries</a></li>
            </ul>
        </li>
        <li class="have-children">
            <a href="#"><span class="fa fa-user-o"></span>Author</a>
            <ul>
                <li><a href="#">Add Author</a></li>
                <li><a href="#">View Authors</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="fa fa-picture-o"></span>Gallery</a></li>
        <li class="have-children">
            <a href="#"><span class="fa fa-flag"></span>Reports</a>
            <ul>
                <li><a href="#">View Judging points</a></li>
                <li><a href="#">Create Acceptances List</a></li>
                <li><a href="#">Create Awarded List</a></li>
                <li><a href="#">View Candidates for Awards</a></li>
                <li><a href="responsive_table.html">Send Report Cards</a></li>
            </ul>
        </li>
        <li><a href="#"><span class="fa fa-envelope-o"></span>Messages</a></li>
        <li><a href="#"><span class="fa fa-gear"></span>Configuration</a></li>
    </ul>

    <div style="display:inline-block">
        <h1>TEST</h1>
    </div>
</div>




