@model Registro.Models.UsuarioDB
@using Registro.Models
@{
    ViewBag.Title = "Logged";
    UserProfileSessionData session = (UserProfileSessionData) Session["UserProfile"];
}

<header>
    <div class="head ">
        <div class="title-menu">
            <h1 class="title-menu">Workspace</h1>
        </div>
        <div class="details-container">
            <div class="details-display">
                <p class="profile-name">@session.Name @session.LastName</p>
                <a href="@Url.Action("Logout")">Log out</a>
            </div>
            <div >
                <img src="@Session["ProfilePicture"]" alt="profile" class="avatar">
            </div>
        </div>
    </div>
</header>
<content>
    <div class="boxbackground">
        @using (Html.BeginForm("CreateTask", "Home", FormMethod.Post))
        {
            <input type="text" name="description" />
            <button type="submit"> send </button>
        }
    </div>
</content>