@{
    ViewBag.Title = "Register";
}

@Scripts.Render("~/Scripts/changeFileLabel.js")

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <div class="go-btn">
        <button type="submit" class="btn">Back</button>
    </div>
}

<div class="box">
    @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <span class="text-center">Register</span>
        <div class="input-container">
            <input type="text" required="" name="nombre" />
            <label>Name</label>
        </div>

        <div class="input-container">
            <input type="text" required="" name="apellido" />
            <label>Last Name</label>
        </div>

        <div class="input-container">
            <input type="date" required="" name="edad" />
            <label>Date</label>
        </div>

        <div class="input-container">
            <input type="email" required="" name="email" />
            <label>Email</label>
        </div>

        <div class="input-container">
            <input type="password" required="" name="password" />
            <label>Password</label>
        </div>

        <div class="go-btn">
            <div id="file-container" class="file-input">
                <input type="file" id="file" class="file" name="photo" onchange="changeLabel()" required>
                <label id="file-label" for="file">Upload profile picture</label>
            </div>
        </div>

        <div class="register-text-container">
            <a href="@Url.Action("Login")">Already have an account? Log in here </a>
        </div>

        <div class="go-btn">
            <button type="submit" class="btn">Go!</button>
        </div>
    }
</div>
