@model Registro.Models.UsuarioDB
@using Registro.Models
@{
    ViewBag.Title = "Logged";
    UserProfileSessionData session = (UserProfileSessionData) Session["UserProfile"];
}

<header>
    <div class="head ">
        <div class="title-menu">
            <h1 class="title-menu">Workspace</h1>
        </div>
        <div style="margin: 5px; height: 50px">
            <p class="profile-name">@session.Name @session.LastName</p>
            <img src="@Session["ProfilePicture"]" alt="profile" class="avatar">
        </div>
    </div>
</header>
<content>
    <div class="boxbackground">
        @using (Html.BeginForm("CreateTask", "Home", FormMethod.Post))
        {
            <input type="text" name="description" />
            <button type="submit"> send </button>
        }
    </div>
</content>