.register-text-container {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.register-text-container a {
    color: white;
}

.register-text-container a:hover {
    color: red;
}
